.gameArea {
    padding: 1em;
}
.card {
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 13em;
    height: 20em;
}
.btn {
    margin: auto;
    margin-bottom: 1em;
    width: 13em;
}