.gameArea {
    padding: 1em;
}
.card {
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 13em;
    height: 20em;
}
#continue {
    width: 100%;
}
.btn {
    margin: 1em, 0;
    width: 13em;
}