body{
    background: #091F40;
    color: #54C8E8;
    padding: .5rem 0;
}
.mailto:link, .mailto:visited, #submit{
    color: #ff6b00;
}
p, th, td, .mailto:hover, .mailto:active{
    color: #ffffff;
}
h4{
    margin: .5rem 0;
}
.btn{
    margin: .1rem 0;
}
.btn-outline-primary{
    color: #FFFFFF;
    border-color: #4A4F54;
}
.btn-outline-primary:hover, #submit:hover{
    border-color: #ff6b00;
    background: #003a70;
}

/* 
Colors:

Core Colors
Dark Blue: #003A70
Blue: #0071CE
Light Blue: #54C8E8

Secondary Colors
Darker Blue: #091F40
Dark Grey: #4A4F54
Light Grey: #BAB9AF
ORANGE AF: #FF6B00
*/