html, body {
    height: 100%;
}
@font-face {
    font-family: "logofont";
    src: url("../fonts/SALARYMA-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "logofont", sans-serif;
}
.btn {
    margin: auto;
}