html, body {
    height: 100%;
}
@font-face {
    font-family: "logofont";
    src: url("../fonts/SALARYMA-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
#logo {
    width: 100%;
    max-width: 600px;
}
.brand {
    font-family: "logofont";
}